{% extends "admin/change_list.html" %}
{% block object-tools-items %}
    {% comment %} {{ block.super }} {% endcomment %}
    {% comment %} {{ lame_static_text }} 
    <div><span>{{perms.forecasts}}</span></div> {% endcomment %}
    {% comment %} {% if wait_approve > 0 %}<div class="pr-3">Wait Approv{{" "}}<span class="badge bg-warning">{{wait_approve}}</span></div>{% endif %}
    {% if approve_total > 0 %}<div class="pr-3">Approve{{" "}}<span class="badge bg-info">{{approve_total}}</span></div>{% endif %}
    {% if purchase_total > 0 %}<div class="pr-3">Purchase{{" "}}<span class="badge bg-success">{{purchase_total}}</span></div>{% endif %}
    {% if rejected_total > 0 %}<div class="pr-3">Rejected{{" "}}<span class="badge bg-danger">{{rejected_total}}</span></div>{% endif %} {% endcomment %}
    {% comment %} {% if perms.forecasts.upload_file_forecast %}
        {% load static %}
        <a href="/open_pds/report_pds/" class="btn float-right btn-info"><i class="fas fa-file-export"></i>&nbsp;Report PDS</a>
    {% endif %} {% endcomment %}
{% endblock %}
{% comment %} {% block content %}
    <form id="changelist-search" class="form-inline" method="GET">
        <div class="form-group">
            <input type="date" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          </div>          
        <div class="form-group" id="search_group">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
  {{ block.super }}
{% endblock %} {% endcomment %}