{% extends "admin/change_form.html" %}
{% block form_top %}
    {{ lame_static_text }}
    <span>{{perms.forecast.forecasts.approve_reject}}</span>
{% endblock %}
{% block submit_buttons_bottom %} 
{% comment %} {{block.super }} {% endcomment %}
{% comment %} {% if send_to_po %}
<div class="form-group pt-2">
    <input type="submit" class="btn btn-danger btn-sm form-control" value="Create PO" name="_move_to_po" />
</div>
{% endif %} {% endcomment %}
{% if perms.forecasts.approve_reject and forecast_status == 0 %}
<div class="pb-2">
    <a type="button"
    class="btn btn-primary btn-sm form-control" 
    href="/forecast/approve/{{object_id}}">
    <i class="fas fa-clipboard-check"></i>{{" "}}อนุมัติข้อมูล Forecast
    </a>
</div>
{% endif %}
{% endblock %}