{% extends "admin/change_form.html" %}
{% comment %} {% block form_top %}
    {{ lame_static_text }}
    <span>{{pds_status}}</span>
{% endblock %} {% endcomment %}
{% block submit_buttons_bottom %} 
{% comment %} {{block.super }} {% endcomment %}
{% if perms.open_pds.create_purchase_order and pds_status == 0 %}
<div class="form-group pt-2">
    <button type="submit" class="btn btn-info btn-sm form-control" name="_move_to_po">
        <i class="fas fa-check-circle"></i>{{" "}}เปิด PDS
    </button>
</div>
{% elif perms.open_pds.create_purchase_order and pds_status > 0 %}
<div class="form-group pt-2">
    <button type="submit" class="btn btn-danger btn-sm form-control" name="_cancel_po">
        <i class="fas fa-times-circle"></i>{{" "}}ยกเลิก PDS
    </button>
</div>
{% endif %}
{% endblock %}