{% extends "admin/base_site.html" %}
{% block content %}
<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm"
            >Start Date:</span
        >
    </div>
    <input
        type="date"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
    />
</div>
<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm"
            >Start Date:</span
        >
    </div>
    <input
        type="date"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
    />
</div>
{% endblock %}
